.intro-main__title{
    font-size: 60px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
     text-underline-offset: 8px; 
     border: none;
     width: 40%;
     margin: 12% 26%;
     z-index: 100;
     outline: none;
     text-align: center;
}


/* .container{
       padding: 54px 0;
} */

.row {
    width: 100%;
    max-width: 1268px;
    position: relative;
}

.box{
    border: dotted;
    border-width: medium;
  
  margin: 0 auto;
  transform: rotate(35deg);
     position: absolute;
     left: 30%;
     border-color: #A0A4AB;
     z-index: -1;
     animation: rotate 80s linear infinite;
}
.box2{
    border: dotted;
    border-width: medium;
    
  transform: rotate(38deg);
      position: absolute;
     left: 28%;
     top: -5%;
     border-color: #A0A4AB;
     z-index: -1;
     opacity: 60%;
     animation: rotate 75s linear infinite;

}
.box3{
    border: dotted;
    border-width: medium;
   
  transform: rotate(40deg);
      position: absolute;
     left: 26%;
     top: -10%;
     border-color: #A0A4AB;
     z-index: -1;
     opacity: 30%;
     animation: rotate 65s linear infinite;

}

@keyframes rotate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .back__button{
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        width: 5px;
    }
    .progo__button{
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        width: 5px;
       
    }
 

    .bottom__buttons{
      display: flex;
      justify-content: space-between;
      position: fixed;
      bottom: 0px;
      left: 0; /* Or right: 0, or both for full width */
      width: 1380px;
      margin-left: 1%;

    }
    .intro-main__subtitle{
        position: absolute;
        opacity: 40%;
        top: 35%;
        left: 42%;
    }
    .intro-main__subtitle-load{
        position: absolute;
        opacity: 40%;
        top: 35%;
        left: 39%;
    }
    .intro-main__subtitle-success{
        position: absolute;
        opacity: 80%;
        top: 35%;
        left: 39%;
        margin-top: 15px;
        font-size: 18px;
    }
    .intro-main__subtitle-empty{
        position: absolute;
        opacity: 40%;
        top: 30%;
        left: 42%;
        color: red;
    }


    .back:hover .button__img{
  transform: scale(1.1);
}
    .proceed:hover .button__flip{
  transform: scale(1.1);
}
.button__flip {
    transform: scaleX(-1) !important;
     cursor: pointer;
     transition: all ease-in-out;
     z-index: 30;
}

.process__tag{
  color: #A0A4AB;
  position: absolute;
  top: 25%;
}

.succes__title{
  font-size: 24px;
  position: absolute;
  top: 25%;
  left: 41%;
}

@media(min-width:1600px){
   .progo__button{
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
        width: 5px;
       
    }
 

    .bottom__buttons{
      display: flex;
      justify-content: space-between;
      position: fixed;
      bottom: 0px;
      left: 0; /* Or right: 0, or both for full width */
      width: 1750px;
      margin-left: 1%;

    }
}

@media(max-width:1450px){
  .bottom__buttons{
    width: 1200px;
  }
  
}

@media(max-width:1200px){
   .bottom__buttons{
    width: 1000px;
  }
  
}

@media (max-width:900px) {
   .bottom__buttons{
    width: 600px;
  }
  
}