.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: absolute;
  top: 45%;
  left: 45%;
}

.loading-dots span {
  width: 8px;
  height: 8px;
  background-color: #A0A4AB;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-10px);
  }
}
