* {
    font-family: "RoobertTrial";
}


.Main__title {
    font-size: 84px;
    font-weight: 300;
    line-height: 120px;
    position: absolute;
    bottom: 25%;
    left: 26%;
    transition: all 800ms ease;
}

.main__subtitle {
    font-size: 84px;
    font-weight: 300;
    line-height: 120px;
    position: absolute;
     bottom: 18%;
    left: 36%;
     transition: all 800ms ease;

}

html {
    overflow: hidden;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    height: 400px;

}

.main__sidesquare {
    border: dotted;
    border-width: thin;
    width: 602px;
    height: 602px;
    position: absolute;
    left: -30%;
    transform: rotate(45deg);
    opacity: 45%;;
}

.main__sidesquare-right {
    border: dotted;
    width: 602px;
    height: 602px;
    position: absolute;
    right: -30%;
    transform: rotate(45deg);
    opacity: 20%;
    
}

.main__sidetitles {
    position: absolute;
    bottom: 43%;
    left: -2%;
    align-items: center;
    display: flex;
    gap: 5px;
    cursor: pointer;
    z-index: 3;
   transition: opacity .5s ease;
}

.main__sidetitles-right {
    position: absolute;
    right: -2%;
    bottom: 43%;
    align-items: center;
    display: flex;
    gap: 5px;
    cursor: pointer;
    transition: opacity .5s ease;

}

.button__flip {
    transform: scaleX(-1);
}

.disclamier {
    width: 316px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    height: 72px;
    position: absolute;
    bottom: -1%;
}


.button__img:hover {
    transform: scale(1.1);
}

.button__flip:hover {
    transform: scale(-1.1);

}

.button__img {
    transition: all ease-in-out;
}

.flip {
    transition: all ease-in-out;
}

.main__sidetitles:hover .button__img {
    transform: scale(1.1);
}

.main__sidetitles-right:hover .button__flip {
    transform: scale(-1.1);
}




.main__sidetitles:hover~.Main__title {
    transform: translateX(300px)
}
.main__sidetitles:hover~.main__subtitle {
    transform: translateX(400px)
}
.main__sidetitles-right:hover ~ .Main__title {
    transform: translateX(-300px)
}
.main__sidetitles-right:hover~.main__subtitle {
    transform: translateX(-400px)
}
